<div [@animate-banner]="{value: bannerAnimationState}" *ngIf="attributes && attributes.visibility === 'visible'"
  class="banner">
  <div class="pt-4" [innerHTML]="state.htmlStr | safeHtml"></div>
  <div class="row pt-6">
    <div class="col-12 pt-2" *ngFor="let button of state.buttons">
      <div class="progress" style="height: 40px; width: 85%;">
        <div class="progress-bar bg-success" (click)="onButtonClick(button)" role="progressbar"
          [@animate-progress-bar]="{value: progressBarAnimationState, params: { duration: progressDuration }}"><span>{{ button.title }}</span></div>
      </div>
    </div>
  </div>
</div>
