@import "../../../variables";

.banner {
  height: 350px;
  width: 550px;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: url('../../../../assets/images/backgrounds/banner-bg.png') no-repeat;
  background-size: cover;

  h1,
  h2,
  h3 {
    color: $primary;
  }

  button {
    width: 250px;
  }
}