.announcement  {
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    
    margin: auto;
    // margin-right: auto;
    
    position: absolute;
    // width: 40%;
    
    width: 450px;
    height: 450px;
    border-radius: 1000px;
    animation: resize 1s ease-in;
}

@keyframes resize {
    from {width: 600px; height: 600px;}
    to {width: 450px; height: 450px;}
}