@import '/src/app/variables';

.welcome {
    height: 100vh;
    width: 100vw;
    background-color: $primary;
    transition: background-color 2s;
}

.message  {
    width: 100vw;
    height: 100vh;
}

.app-announcement {
    width: 100vw;
    height: 100vh;
}

.app-pre-session-survey {
    width: 100vw;
    height: 100vh;
}



.tutorial {
    // position: fixed;
    // padding-bottom: 56.25%; /* 16:9 */
    // height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    button {
        z-index: 3;
        position: absolute;
        bottom: 64px;
        right: 32px;
    }
}
