<div class="welcome" [style.backgroundColor]="currentMessage? currentMessage.bg: '#000066'">
    <div style="width: 100vw; height: 100vh;" *ngIf="currentMessage">

        <div class="message display-1  text-center text-white d-flex justify-content-center align-items-center"
        [@panelInOut] *ngIf="currentMessage.type =='message'">{{currentMessage.text}}</div>
        
        <app-announcement *ngIf="currentMessage.type =='announcement'" [text]="currentMessage.text"></app-announcement>

        <app-pre-session-survey (selected)="showNextStep()" *ngIf="currentMessage.type =='pre-session-survey'"></app-pre-session-survey>
    </div>
</div>