<div class="welcome" [style.backgroundColor]="currentMessage? currentMessage.bg: '#000066'">
    <div style="width: 100vw; height: 100vh;" *ngIf="currentMessage">

         <div class="display-1 text-left session-details-div"
        [@panelInOut] *ngIf="currentMessage.type =='session-start-confirmation'">
         <div class="heading-text text-white text-left" >{{currentMessage.sessionDetails!.heading}}</div>
         <ul class="check-list" >
             <li class="text-white text-left" *ngFor="let checkList of currentMessage.sessionDetails!.checkList">{{checkList}}</li>
         </ul>
         <div class="w-full text-center">
             <button class="btn-start btn-text" (click)="sessionStartConfirmation()">Start Session <fa-icon style="padding-left: 30px;" [icon]="chevronRightIcon"></fa-icon> </button>
         </div>
        </div>

        <div class="message display-1  text-center text-white d-flex justify-content-center align-items-center"
        [@panelInOut] *ngIf="currentMessage.type =='message'">{{currentMessage.text}}</div>
        
        <app-announcement *ngIf="currentMessage.type =='announcement'" [text]="currentMessage.text"></app-announcement>

        <app-pre-session-survey (selected)="preSessionMoodSelected($event)" *ngIf="currentMessage.type =='pre-session-survey'"></app-pre-session-survey>

        <app-select-genre (selected)="genreSelected($event)" *ngIf="currentMessage.type =='select-genre'"></app-select-genre>

        <div class="tutorial" *ngIf="currentMessage.type =='tutorial'">
            <iframe src="https://www.youtube.com/embed/chw2oMUrh4U?autoplay=1" title="Sit To Stand" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
            <button class="btn btn-primary" (click)="showNextStep()">Skip Video Introduction</button>
        </div>
    </div>
</div>