<div class="pre-session-survey p-5">
    <div class="txt mb-6 display-2 text-primary text-center">HOW ARE YOU FEELING TODAY?</div>

    <div class="container mt-6">
        <div class="row mt-6 options">
            <div class="col p-5 m-2" (click)="selectMood(mood)" [ngClass]="{'bg-success': mood.selected, 'bg-primary': !mood.selected}" *ngFor="let mood of moods">
                <img [src]="mood.icon" [alt]="mood.title">
                <h2 class="text-white text-center mt-4 text-uppercase">{{ mood.title }}</h2>
            </div>
        </div>
    </div>
    <!-- <div class="options d-flex justify-content-center">
        <div class="option text-center p-5 bg-primary m-2">
            <img src="assets/images/moods/irritated.svg" alt="Irritated">
            <h2 class="text-white">IRRITATED</h2>
        </div>
        <div class="option text-center p-5 m-2">Hi</div>
        <div class="option text-center p-5 m-2">Hi</div>
        <div class="option text-center p-5 m-2">Hi</div>
    </div> -->
</div>