@import '../../../variables';

.info {
  color: $primary_color;
  font-size: 32px;
}

.close-btn {
  font-size: 18px;
}

.toast-body {
  background-color: #fff;

  .header-text {
    margin-bottom: 2px;
    color: $primary_color;
    font-weight: bold;
  }

  .body-text {
    color: $primary_color;
  }
}
