#webcam {
  position: absolute;
  height: 100vh;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */

  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#phaser-canvas {
  position: absolute;
  z-index: 1;
}

app-elements {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
