#webcam {
    position: absolute;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
}

#phaser-canvas {
    position: absolute;
    z-index: 1;
}