<div class="elements">
    <!-- {{ state | json }} -->
    <div class="score">
        <!-- <label>{{state.score.data.label}}</label>
        <span>{{state.score.data.value}}</span> -->
        <element-score></element-score>
    </div>

    <div class="timer">
        <element-timer></element-timer>
    </div>

    <div class="prompt">
        <element-prompt></element-prompt>
    </div>

    <div class="timeout">
        <element-timeout></element-timeout>
    </div>

    <div class="video">
        <element-video></element-video>
    </div>

    <div class="ribbon">
        <element-ribbon></element-ribbon>
    </div>

    <div class="overlay">
        <element-overlay></element-overlay>
    </div>

    <div class="guide">
        <element-guide></element-guide>
    </div>

    <div>
        <element-banner></element-banner>
    </div>

    <!-- <button style="width: 100px; height:50px;" (click)="updateElement()">Test Element</button> -->
</div>
