<div class="test">
    <app-guide></app-guide> 
    <div class="float">
        <button class="btn btn-primary me-1" (click)="changeAvatar()">Change Avatar</button>
        <button class="btn btn-primary me-1" (click)="hideAvatar()">Hide Avatar</button>
        <button class="btn btn-primary me-1" (click)="sendMessage()">Send Message</button>
        <button class="btn btn-primary me-1" (click)="hideMessage()">hide msg</button>
        <button class="btn btn-primary me-1" (click)="sendSpotlight()">Send Spotlight</button>
        <button class="btn btn-primary me-1" (click)="hideSpotlight()">hide Spotlight</button>
        <button class="btn btn-primary me-1" (click)="sendPromptWithIcon()">Send Prompt with icon</button>
        <button class="btn btn-primary me-1" (click)="sendPromptWithNumber()">Send Prompt with number</button>
        <button class="btn btn-primary me-1" (click)="hidePrompt()">hide Prompt</button>
        <button class="btn btn-primary me-1" (click)="startTimer()">start timer</button>
        <button class="btn btn-primary me-1" (click)="hideTimer()">hide timer</button>
    </div>
</div>
