<div class="test">
    <app-guide></app-guide> 
    <div class="float">
        <button class="btn btn-primary" (click)="changeAvatar()">Change Avatar</button>
        <button class="btn btn-primary" (click)="hideAvatar()">Hide Avatar</button>
        <button class="btn btn-primary" (click)="sendMessage()">Send Message</button>
        <button class="btn btn-primary" (click)="hideMessage()">hide msg</button>
        <button class="btn btn-primary" (click)="sendSpotlight()">Send Spotlight</button>
        <button class="btn btn-primary" (click)="hideSpotlight()">hide Spotlight</button>
    </div>
</div>
