.timer {
  position: fixed;
  bottom: 0;
  height: 20px;
  width: 100vw;
  .first,
  .second {
    > div {
      height: 20px;
    }
  }
}

.show-score {
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
  line-height: 100px;
}
