<div *ngIf="attributes && attributes.visibility === 'visible'" class="timer row">
    <div *ngIf="state.bars && state.bars[0]" class="first col p-0 position-relative">
        <div class="position-absolute start-0" [ngStyle]="{ 'background-color': colors[state.bars[0]] }" [@timeOut]="{value:'', params:{duration : state.timeout}}" #timer></div>
    </div>
    <div *ngIf="state.bars && state.bars[1]" class="second col p-0 position-relative">
        <div class="position-absolute end-0" [ngStyle]="{ 'background-color': colors[state.bars[1]] }" [@timeOut]="{value:'', params:{duration : state.timeout}}" #timer></div>
    </div>
</div>
