<div
    *ngIf="state && state.attributes.visibility === 'visible'"
    class="position-fixed top-0 start-0 w-screen h-screen row">
    <div class="col-6 h-1/2">
      <img style="object-fit: cover;" class="w-full h-full" src="assets/images/confetti.gif" alt="confetti">
    </div>
    <div class="col-6 h-1/2">
      <img style="object-fit: cover;" class="w-full h-full" src="assets/images/confetti.gif" alt="confetti">
    </div>
    <div class="position-absolute top-1/2 start-1/2 translate-middle h-1/2">
      <img style="object-fit: cover;" class="w-full h-full" src="assets/images/confetti.gif" alt="confetti">
    </div>
    <div class="col-6 h-1/2">
      <img style="object-fit: cover;" class="w-full h-full" src="assets/images/confetti.gif" alt="confetti">
    </div>
    <div class="col-6 h-1/2">
      <img style="object-fit: cover;" class="w-full h-full" src="assets/images/confetti.gif" alt="confetti">
    </div>
  </div>